<%= current_user.username if current_user.present? %>

<div class="container-fluid border-util border-radius-util border-radius-shadow-util index-content" ng-controller="AppCtrl">
  <div class="row-fluid content-wrapper">
    <div class="span3 left-main-nav">
      <ul class="main-nav-item">
        <li>
          <a href="{{userHomeLink()}}">Home</a>
        </li>

        <li>
          <a href="#/test">test page</a>
        </li>

        <li>
          <a href="#/logout">logout</a>
        </li>

      </ul>

    </div>

    <div class="span7 my-ng-view-content">
      <ng-view></ng-view>
    </div>

  </div>


</div>

<%#= link_to 'New User', new_user_path %>
