var app = angular.module("workerCardApp", ['ngResource', 'userComponents']);

angular.module('userComponents',[])
        .directive('helloWorld', function(){
            return {
                restrict: 'E',
                //templateUrl: "<%#= asset_path('registration_path') %>"
                template: '<span>hello world jeane</span>'
            }
        });


app.factory('LinkService', function (){
    return {
        linkService: 'testing is now called!',
        url : "<%= asset_path('index_page.html.erb') %>"

    }
});

app.service('checkUserSession', function($http){
    return {
        async: function() {
            return $http.get('/index').success(function(data){
                return data
            })
        }
    }
});

app.controller('AppCtrl', function($scope, $http, $location, checkUserSession){
    checkUserSession.async().success(function(data){
        $scope.myUserSession = data[1];
        if (data[1]) {
            $scope.userLinkTo = 'logout';
        } else {
            $scope.userLinkTo = 'login'
        }
    });
    $scope.homeLinkUrl = '#/';
    $scope.$on('update_parent', function(event,message){
        $scope.emittedMessage = message;
    });
    $scope.$on('user_logged_in', function(event, message){
        $scope.userEmittedMessage = message;
    })
});



app.controller('CurrentUserCtrl', function($scope, $http){
   $http.get('/show_current_user').success(function(data){
        $scope.users = data;
        $scope.currentUser = data[0];
   })
});

app.controller('UserLoggedIn', function($scope, $http){

});

app.controller('UserLogout', function($http, $location){
    $http.put('/logout').success(function(){
        $location.path('#/');
    });
});

app.controller('UserLogin', function($http, $scope, $location){
    $scope.UserLogin = function(){
        $http.put('/login/', {
            username: $scope.loginUserName,
            password: $scope.loginUserPassword
        })
        .success(function(data){
            console.log(data);
            this.$emit('user_logged_in', data);
            $location.path('#/');
        })
    }
});

app.controller('ChildLogout', function($scope){
    $scope.onButtonClick = function() {
        this.$emit('update_parent', 'updated')
    }
});

app.controller('RegisterUser', function($http, $scope, $location){
    $scope.registerUser = function() {
        $http.put('/register_user/', {
            username: $scope.userName,
            email: $scope.userEmail,
            password: $scope.userPassword,
            password_confirmation: $scope.passwordConfirm
        } ).success(function(){
                    $scope.userName = '';
                    $scope.userEmail = '';
                    $scope.userPassword = '';
                    $scope.passwordConfirm = '';
                    // $('body').css({'background-color': '#ccc'})
                    $location.path('#/user_logged_in');
                });
    };

});

app.controller('TestController', function($scope){
    $scope.testM = 'test message!';
});

