// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.main-content {
  border: 1px solid lightgray;

  .content-wrapper {
    padding-top: 25px;
    padding-bottom: 25px;
    min-height: 500px;
  }
}



.border-util {
  border: 1px solid lightgray;
}