{{model.message}}
<div class="row-fluid">
  <div class="span2">
    name:
  </div>
  <div class="span3 profile-item">
    <span>{{userName}}</span>
  </div>
</div>
<div class="row-fluid profile-item">
  <div class="span2">
    Email:
  </div>
  <div class="span3">
    <span>{{userEmail}}</span>
  </div>
</div>
